
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Welcome <%= @user.first_name%> !</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Que de potins dans cette nouvelle prairie !</p>
    </div>
    
  </div>
