
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold"> Voici l'équipe licorne qui déchire du tonnerre </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Vous pouvez trouver dans cette équipe incroyable : </br>
      Lisa 1ère du nom </br>
      Suzie notre maestro en chef </br>
      Karine, notre marmotte nationale </br>
      </p>
    </div>
</div>