
<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold"> Comment contacter notre super équipe ! <3 </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Cliquez sur le bouton ci-dessous pour nous contacter </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Nous contacter ! </button>
      </div>
    </div>
</div>
